

<div class="container-fluid" id="aside_container">
    <h2 class="titulo">
        Menú
    </h2>
    <div class="container-fluid" id="aside_menu_container">
        <div class="btn-group-vertical"> 
            <div class="btn-group" role="group" aria-label="Third group">
              <button type="button" class="btn_menu active">Nueva mascota</button>
            </div>
            <br>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn_menu active">Registro de adopciones</button>
            </div>
            <br>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn_menu active">Configuraciones</button>
            </div>
        </div>
    </div>
</div>
